<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(162, 232, 88);">
    <center >

      <marquee behavior="" direction="left"> <h1 style="color: brown;">Sending Data Through context</h1>
      </marquee> 
      <h1>{{name}}
      </h1><h1>{{age}}</h1>
    
    </center>
    
</body>
</html>
